<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="extendReport.ExtentTestNGIReporterListener"/>
</listeners>

  <test  name="ChromeTest">
   <parameter name = "Browser" value = "Chrome" />
    <classes>
      <class name="TestPackage.FbTestClass"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="FirefoxTest">
   <parameter name = "Browser" value = "Firefox" />
    <classes>
      <class name="TestPackage.FbTestClass"/>
    </classes>
  </test> <!-- Test -->
 
 
  
</suite> <!-- Suite -->
